# Creating, reading and writing reference
[ref] https://www.kaggle.com/residentmario/creating-reading-and-writing-reference

In [4]:
import pandas as pd

## Creating data

There are two core objects in pandas
* DataFrame
* Series

### DataFrame

A DataFrame is a table, It contains an array of indivisual entries,
each of which has a certain value. Each entry corresponds with a row (or record) and a column.

For exameple, consider thw following simple DataFrame:

In [5]:
pd.DataFrame( {"Yes":[50,21], 'No':[131, 2]})

   Yes   No
0   50  131
1   21    2

In this example, the '0, No' entry has the value of 131. The '0, Yes' has a value of 50, and so on.
DataFrame entries are not limited to integers. For example, here's DataFrame whose values are str strings:

In [6]:
pd.DataFrame( {'Bob': ['I am bob', 'I was awful.'], 'Jin': ['I am Jin.', 'I am fine.']})

            Bob         Jin
0      I am bob   I am Jin.
1  I was awful.  I am fine.

We are using the pd.DataFrame constructor to generate these DataFrame object. The syntax for declaring a new one is a dictionary whose keys are the column names (Bob, Jin), and whose values are a list of entries. 
This is the standard way of constructing a new DataFrame, and the one you are likelist to encounter.

The dictionary-list constructor assigns values to the column labels, 
but just uses an ascending count from 0(0,1,2,3..) for the fow labels. Sometimes this is OK, but oftentimes we will want to assign these labels ourselves.

The list of row labels used in a DataFrame is known as an Index. We can assign values to it by using an index parameter in our constructor:

In [7]:
pd.DataFrame( {'Bob': ['I am bob', 'I was awful.'], 
               'Jin': ['I am Jin.', 'I am fine.']}, 
                index = ['Product A', 'Product B'])

                    Bob         Jin
Product A      I am bob   I am Jin.
Product B  I was awful.  I am fine.

### Series

A Series, by contrast, is an sequence of data values, If a DataFrame is table, a Series is a list. And in fact you can create one with nothing more than a list:

In [8]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign column values to the Series the same way as before, using an idnex parameter. However, a Series do not have a column name, it only has one overall name:

In [9]:
pd.Series( [30, 35, 40], 
           index=['2015 Series', '2016 Series', '2017 Series'], 
           name='Product A')

2015 Series    30
2016 Series    35
2017 Series    40
Name: Product A, dtype: int64

Series and the DataFrame are intimately related. It's helpful to think of a DataFrame as actually being jusg a bunch of Series 'glue together'. We will see more of this in the next section of this tutorial.

## Reading common  file formats

Being able to create a DataFrame and Series by hand is handy. But, most of the time, we won't actually be creating our own data by hand, we will be working with data that already exists.

Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file. When you open a CSV file you get something that looks like this.

csv
Product A,Product B,Product C,
30,21,9,
35,34,1,
41,11,11


So a CSV file is a table of values separated by commas. Hence the name : "comma-seperated values", or CSV.

Let's now set aside our tory datasets and see what a real dataset looks like when we read it into a DataFrame. Let's now set aside our tory datasets and see what a real dataset looks like when we read it into a DataFrame.

In [23]:
wine_reviews = pd.read_csv("../data/winemag-data-130k-v2.csv")

In [24]:
wine_reviews.shape

(129971, 14)

So our new DataFrame has 130,000 records split across 14 different columns. That's almost 2 million entries!

We can examine the contents of the resultant DataFrame using the head command, which grabs the first five rows:

In [16]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

The pandas read_csv function is well-endowed, with over 30 optional parameters you can specify. For example, you can see in this dataset that the csv file has an in-built index, which pandas did not pick up on automatically. To make pandas use that column for the index (instead of creating a new one from scratch), we may specify and use an index_col.

In [22]:
wine_reviews = pd.read_csv("../data/winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [21]:
#wic = pd.read_excel("./data/WICAgencies2013ytd.xls", sheet_name='Total Women')
#wic.head()

As you can see in this example, Excel files are often not formatted as well as CSV files are. Spreadsheets allow (and encourage) creating notes and fields which are human-readable, but not machine-readable.

So before we can use this particular dataset, we will need to clean it up a bit. We will see how to do so in the next section.

For now, let's move on to another common data format: SQL files.

SQL databases are where most of the data on the web ultimately gets stored. They can be used to store data on things as simple as recipes to things as complicated as "almost everything on the Kaggle website".

Connecting to a SQL database requires a lot more thought than reading from an Excel file. For one, you need to create a connector, something that will handle siphoning data from the database.

pandas won't do this for you automatically because there are many, many different types of SQL databases out there, each with its own connector. So for a SQLite database (the only kind supported on Kaggle), you would need to first do the following (using the sqlite3 library that comes with Python):

In [20]:
import sqlite3
#conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")

The other thing you need to do is write a SQL statement. Internally, SQL databases all operate very differently. Externally, however, they all provide the same API, the "Structured Query Language" (or...SQL...for short).

We (very briefly) need to use SQL to load data into

For the purposes of analysis however we can usually just think of a SQL database as a set of tables with names, and SQL as a minor inconvenience in getting that data out of said tables.

So, without further ado, here is all the SQL you have to know to get the data out of SQLite and into pandas:

In [ ]:
fires = pd.read_sql_query("SELECT * FROM fires", conn)

Every SQL statement beings with SELECT. The asterisk (*) is a wildcard character, meaning "everything", and FROM fires tells the database we want only the data from the fires table specifically.

And, out the other end, data:

In [ ]:
fires.head()

## Writing common file formats

Writing data to a file is usually easier than reading it out of one, because pandas handles the nuisance of conversions for you.

We'll start with CSV files again. The opposite of read_csv, which reads our data, is to_csv, which writes it. With CSV files it's dead simple:

In [ ]:
wine_reviews.head().to_csv("wine_reviews.csv")

To write an Excel file back you need to_excel and the sheet_name again:

In [ ]:
wic.to_excel('wic.xlsx', sheet_name='Total Women')

And finally, to output to a SQL database, supply the name of the table in the database we want to throw the data into, and a connector:

In [ ]:
conn = sqlite3.connect("fires.sqlite")
fires.head(10).to_sql("fires", conn)